name: Serializer Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main, lab2]

jobs:
  testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11.0-alpha.7', '3.10', '3.9.12']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install toml yaml
          cd serializer
      - name: Test JSON
        run: |
          python -m unittest test.json
      - name: Test YAML
        run: |
          python -m unittest test.yaml
      - name: Test TOML
        run: |
          python -m unittest test.toml
