name: Serializer Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main, lab2]

jobs:
  testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9.12']
    env:
      working-directory: ./serializer-project
      codecov-token: ef5ee370-6104-4971-9197-e62702bf6231

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        working-directory: ${{ env.working-directory }}
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test JSON
        working-directory: ${{ env.working-directory }}
        run: |
          python -m unittest test.json
      - name: Test YAML
        working-directory: ${{ env.working-directory }}
        run: |
          python -m unittest test.yaml
      - name: Test TOML
        working-directory: ${{ env.working-directory }}
        run: |
          python -m unittest test.toml
      - name: Generate Report
        working-directory: ${{ env.working-directory }}
        run: |
          coverage run -m unittest test.json test.yaml test.toml
      - name: Upload
        uses: codecov/codecov-action@v2
